body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: bisque;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 30vw;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px  ;
    
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 15px;
}